.custom_class {
    color: white;
    /* display: flex; */
    justify-content: center;
}

.size_class {
    object-fit: contain;
    height: 50vmin;
}

.Content_class {
    font-size: 4vmin;
    margin: 10px ;
}