.custom_class {
    color: white;
    /* display: flex; */
    justify-content: center;
}

.size_class {
    object-fit: contain;
    height: 50vmin;
}

.Content_class {
    font-size: 4vmin;
    margin: 10px ;
}
.button {
    margin: 0;
}

.card {
    height: 130px;
    overflow:hidden;
    border: none;
    border-radius: 15px
}

.imagename {
    font-size: 14px;
    font-weight: bold
}

.img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}