.history-detail {
    display: flex;
    justify-content: center;
    align-items: center;

}

.history-list {
    border: solid 4px black;
    position: absolute;
    top: 30%;
    background-color: white;
    height: 310px;
    width: 55vw;
    border-radius: 5px;
    opacity: 0.9;
}

.heading-history {
    display: flex;
}

.history-total {
    font-size: 2vmin;
}
.item1-history {
    background-color: #152238;
    height: 210px;
    border: 1px solid black;
    margin-top: 0;
    overflow: auto;
}